*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
/* Header Section Start */

header{
    width: 100%;
    height: 55px;
    color: #fff;
    background: #06112F;
    display: flex;
    padding: 0px 100px;
    align-items: center;
    justify-content: space-between;
    

}

header ul li{
    margin-left: 10px;
    display: inline-block;
}
header ul li a{
    font-weight: 600;
}
header ul li img{
    padding: 7px 0px 0px 0px;
}
header ul li a.active{
    color: #ed8ea3;
}
header ul li a.alphacolor{
    color: #97c481;
}
/* Header Section End */

/* Booking Form Section Start */
.beachimg img{
    width: 100%;
    height: 550px;
    padding: 0px 1px;
}
/* Booking Form Section End */
