* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
/* Header Section Start */

header {
  width: 100%;
  height: 55px;
  color: #fff;
  background: #06112f;
  display: flex;
  padding: 50px 100px;
  align-items: center;
  justify-content: space-between;
}

header ul li {
  margin-left: 10px;
  display: inline-block;
}
header ul li a {
  font-weight: 600;
}
header ul li img {
  padding: 7px 0px 0px 0px;
}
header ul li a.active {
  color: #ed8ea3;
}
header ul li a.alphacolor {
  color: #97c481;
}
/* Header Section End */

/* Banner Section Start */
.banner {
  width: 100%;
  height: 650px;
  padding: 50px 125px;
  background: url(../img/beach.jpg);
  background-size: 100% 100%;
  position: relative;
}
.banner form {
  width: 84%;
  height: 130px;
  bottom: 18px;
  padding: 2px 8px;
  display: flex;
  background: #5c327a;
  align-items: center;
  position: absolute;
}
.banner form button {
  width: 90px;
  height: 30px;
  border: none;
  background: #5f208c;
  color: #fff;
  font-size: 500;
}
.banner form button.active {
  background: #f43041;
}
.banner form label {
  display: none;
}
.banner form .serachForm input,
.banner form .serachForm select {
  width: 200px;
  height: 35px;
  margin-right: 3px;
}

.banner form .serachForm {
  margin-top: 8px;
}
.banner form button.smt {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin-left: 60px;
  background: #fe546b;
}
.banner form .formFilter select {
  width: 220px;
  height: 30px;
  margin-top: 3px;
  border: none;
  background: #5c327a;
  color: #fff;
}
.banner form .formFilter input[type="checkbox"] {
  width: 15px;
  height: 15px;
  padding: 2px 2px 0px 0px;
  margin-top: 20px;
  margin-left: 10px;
  border: 5px solid #fff;
}

span {
  color: #fff;
  padding: 0px 10px;
}

/* Banner Form Section End */
/* Fun Section Start */
.fun {
  width: 100%;
  height: 430px;
  padding: 50px 125px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../img/fun.jpg);
  background-size: 100% 100%;
}
.fun h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.fun ul {
  list-style: none;
  display: flex;
  padding-top: 85px;
  justify-content: space-between;
}
.fun ul li {
  width: 180px;
  height: 180px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 100;
  background: #1a1718;
}
.fun ul li b {
  font-size: 40px;
  color: #fff;
}
/* /Fun Section End */

/* Newsletter Section Start */

.newsletter {
  width: 100%;
  height: 400px;
  padding: 50px 20px;
  background: linear-gradient(
      rgba(55, 11, 233, 0.6),
      rgba(55, 11, 233, 0.6),
      rgba(55, 11, 233, 0.6)
    ),
    url(../img/plane.jpg);
  background-size: 100% 100%;
}
.newsletter h2 {
  padding: 90px 0px 60px 0px;
  font-size: 30px;
  color: #fff;
}
.newsletter label {
  display: none;
}
.subscription input[type="email"],
.subscription button {
  margin-top: 30px;
  margin-right: 10px;
}
.subscription input[type="email"] {
  width: 400px;
  height: 40px;
  border: 5px solid #fff;
}
.subscription button {
  width: 200px;
  height: 40px;
  color: #5c327a;
  font-weight: 600;
}
.newsletter p {
  color: #fff;
}
/* /Newsletter Section End */

/* Destination Section Start */
.destination {
  width: 100%;
  height: auto;
  padding: 50px 125px;
  background: #201631;
}
.destination h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.destination ul {
  display: grid;
  grid-gap: 30px 20px;
  grid-template-columns: 23% 23% 23% 23%;
  grid-template-rows: 400px 400px;
}
.destination ul li {
  border-radius: 5px;
  list-style: none;
  border: 5px solid#fff;
  background-color: #fff;
}
li b {
  color: #ef0f0f;
}
li p {
  font-weight: 600;
}
/* /Destination Section End */
/* Estimate Section Start */
.estimate {
  color: #fff;
  width: 100%;
  height: 350px;
  padding: 50px 125px;
  background: #654dad;
  font-size: 40px;
}
.estimate h2 {
  font-size: 30px;
}
.line hr {
  margin-top: 30px;
  width: 100px;
  background: #fff;
  margin-bottom: 30px;
}
.estimatecalculation label {
  display: none;
}
.estimatecalculation input[type="date"],
input[type="email"] {
  width: 240px;
  height: 50px;
  text-align: center;
}
.estimatecalculation select {
  width: 240px;
  height: 50px;
  font-weight: 600;
}
.estimatecalculation button {
  width: 240px;
  height: 50px;
  font-weight: 600;
  background: #fd9101;
}

/* /Estimate Section End */

/* Blog Section Start */
.blog {
  width: 100%;
  height: auto;
  padding: 80px 200px;
}
.blog h2 {
  text-align: center;
  margin-bottom: 10px;
}
.blog h2 + p {
  text-align: center;
  padding: 0px 200px;
}
.blog-content {
  margin: 10px auto;
  display: flex;
}
.blog-content div {
  padding: 10px;
  display: flex;
}
.blog-content div div {
  display: inline-block;
}
.blog-content div img {
  width: 150px;
  margin-top: 10px;
  margin-right: 20px;
}
.blog-content div h3 {
  margin: 10px;
  font-weight: 600;
}
.blog-content div h3 + p {
  padding: 0px 400px;
}
.blog-content .line hr {
  width: 40px;
  padding-top: 3px;
  background-color: #f00;
}
/* /Blog Section End */

/* Footer Section Start */
.footer {
  width: 100%;
  height: 500px;
  padding: 50px 125px;
  background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url(../img/planefooter.jpg);
 background-size: 100% 100%;
 display: flex;
}

.city{
  display: inline-block;
  margin-left: 100px;
}
.footer h2{
  margin-bottom: 20px;
  color: #fff;
}
.footer ul li{
  color: #93908f;
  list-style: none;
}
.footer .international-locations  ul{
  margin-left: 150px;
}
.sites{
  margin-top: 50px;
  margin-left: 40px;
}
.footer .international-locations h2{
  margin-left: 150px;
}
.about{
  position: relative;
}
.about img{
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 10px;
  right: 1000px;
}
.about .item ul{
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 10px;
  right: 300px;

}
.about .item ul li a{
 padding-right: 5px;
 height: 50px;
}
.para{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position:absolute;
  width: 500px;
  right: 515px;
  height: 410px;
  color: #93908f;

}
.para1{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  width: 350px;
  left: 465px;
  height: 420px;
  color: #93908f;
}
.logo{
position: absolute;
display: flex;
justify-content: flex-start;
align-items: flex-end;
height: 100%;
margin-left: 320px;

}
/* /Footer Section End */

